{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 class=" text-center mb-4 mt-4">LIST OF EMPLOYEES</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Image</th>
                <th>EndDate</th>
                <th>Sector</th>
                <th>ContractType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {%  if app.user and app.user.hasRole('ROLE_RH') %}
            <tr>
                <td class="my-link text-danger mb-4" >{{ user.id }}</td>
                <td class="  mb-4">{{ user.email }}</td>
                <td class="  mb-4">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="  mb-4">{{ user.password }}</td>
                <td class="  mb-4">{{ user.firstName }}</td>
                <td class="  mb-4">{{ user.lastName }}</td>
                <td class=" mb-4">{{ user.image }}</td>
                <td class=" mb-4">{{ user.endDate ? user.endDate|date('Y-m-d') : '' }}</td>
                <td class="  mb-4">{{ user.sector }}</td>
                <td class=" mb-4">{{ user.contractType }}</td>
                <td>
                    <a  class="my-link text-primary" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                    <a class="my-link text-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                    <a class="my-link text-danger" href="{{ path('app_user_delete', {'id': user.id}) }}">Delete</a>

                </td>
            </tr>
            {%  endif %}
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">CREATE A NEW USER</a>
{% endblock %}
